<section class="bg-gray-50 dark:bg-gray-900 p-2 antialiased rounded-t-ls">
	<div class="bg-white dark:bg-gray-800 relative shadow-md overflow-hidden">
		<div
			class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4"
		>
			<div
				class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0"
			>
				<button
					type="button"
					data-modal-target="createProductModal"
					data-modal-toggle="createProductModal"
					class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-900 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
					(click)="openModal()"
				>
					<i class="fa-solid fa-plus"></i>
					Adicionar
				</button>

				<button
					type="button"
					data-modal-target="createProductModal"
					data-modal-toggle="createProductModal"
					class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
				>
					<i class="fa-regular fa-pen-to-square"></i>
				</button>

				<button
					type="button"
					data-modal-target="createProductModal"
					data-modal-toggle="createProductModal"
					class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
				>
					<i class="fa-solid fa-trash"></i>
				</button>
			</div>
			<div class="w-full md:w-1/2">
				<form class="flex items-center">
					<label class="sr-only">Pesquisar</label>
					<div class="relative w-full">
						<div
							class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none fill-white-900"
						>
							<i class="fa-solid fa-magnifying-glass fill-white-900"></i>
						</div>
						<input
							type="text"
							class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							placeholder="Search"
							required=""
						/>
					</div>
				</form>
			</div>
		</div>
	</div>
	<app-grid></app-grid>

	<app-detalhes-dialog
		*ngIf="modalAberta"
		#modal
		(closeModal)="closeModal()"
	></app-detalhes-dialog>
</section>
